@using PJ_Source_GV.Caption
@using System.Security.Claims;

@{
    ViewData["Title"] = (int)ViewData["Page_id"] == 0 ? "Thêm trang" : "Cập nhật trang";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <h4 class="card-title">
                    <span id="title_name">@ViewData["Title"]</span>
                </h4>
            </div>
            <!--begin::Form-->
            <form id="frmEditPage">
                <div class="card-body">
                    <div class="form-group d-none">
                        <label>Page id</label>
                        <input type="text" class="form-control hidden" id="page_id" name="id" value="@ViewData["Page_id"]" />
                    </div>

                    <div class="form-group">
                        <label>Tên <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" required />
                    </div>

                    <div class="form-group">
                        <label>Alias <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="alias" name="alias" required />
                    </div>

                    <div class="form-group">
                        <label>Quyền <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="permission" name="permission" required />
                    </div>

                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" id="note" name="note" rows="3"></textarea>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-success mr-2">
                        Lưu
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="fnCancelClick()">
                        Hủy
                    </button>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#page_id').val() !== '0' && $('#page_id').val() !== '') {
            var page = GetPageByID($('#page_id').val());
            $('#name').val(page.name);
            $('#note').val(page.note);
            $('#permission').val(page.permission);
            $('#alias').val(page.alias);
        }
    });

    function GetPageByID(id) {
        var item;
        $.ajax({
            url: "/API/Page/GetPage",
            data: {
                id: id
            },
            async: false,
            success: function (i, result) {
                item = i;
            }
        });
        return item;
    }

    $('#frmEditPage').submit(function (event) {
        event.preventDefault();
        var form = $('#frmEditPage').serialize();
        var pageID = $('#page_id').val();



        if (pageID !== "0" && pageID !== "") {
            $.ajax({
                url: "/API/Page/UpdatePage",
                type: "post",
                data: form,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        toastr.success("Cập nhật dữ liệu thành công!");
                        window.location.href = "/page";
                    }
                }
            });
        }
        else {
            $.ajax({
                url: "/API/Page/InsertPage/",
                type: "post",
                data: form,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        toastr.success("Tạo mới dữ liệu thành công!");
                        window.location.href = "/page";
                    }
                }
            });
        }
    });

    function fnCancelClick() {
        window.location.href = "/page";
    }
</script>
